body{
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");

}
header{
    height: 4em;
    background-color: black;
    color: white;
    font-family: algiers;
    text-align: center;
    border:  1px solid black;

}
#top{
    margin-top: 0px;
}
section{
    margin: 1em;
}
#event,#time{
    height: 2.5em;
}
#input{
    height:3em;
    text-align: center;
}
#form1{
    background-color: #232332;
}

.panel-footer{
    text-align: center;
}


.container{
    margin-top: 5.6em;
    height: auto;
    width: auto;
}

.btn{
    color: #ffffff;
    margin-top: 2px;
}


.btn:hover {
    background-color:purple;
    color: #ffffff;
}
#error{
    color: orangered;
}
.table tr {
    width: 100%;
}
.table tbody tr td:nth-child(1){
    float: left;
}
.table tbody tr td:nth-child(2){
    text-align:center;
    /*color: midnightblue;*/
    font-size: large;
}
.table tbody tr td:nth-child(3){
    float: right;
}
.table tbody tr td{
}
#plus{
    float: right;
    color: blue;
    font-size: 1.5em;
    cursor: pointer;
}
